<h1 align="center">Editing Reviews</h1>


<body>
      <body style="background-color:#80bfff;">
  <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"></div>
 </br><h6 align ="center"
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-body">

<%= render 'form', review: @review %>

<%= link_to 'Show', @review %> |
<%= link_to 'Back', reviews_path %>

</div></div>
</body>