<h1 align="center">Editing Store</h1>

<body>
    <body style="background-color:#80bfff;">
  <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"> <div class="col mb-4"></div>
 </br><h6 align ="center"
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-body">
<%= render 'form', store: @store %>

<%= link_to 'Show', @store %> |
<%= link_to 'Back', stores_path %>

</h6></h6>
</div>
</body>